@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@300&display=swap');
*{
    font-family: 'Itim', cursive;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*@media and screen  (min-width: 1440px) : Déjà configurer pour les grands écrans */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4%;
    font-size: 17px;
    width: 100%;
    font-size: 17px;
    border-bottom:2px solid #dbe7f7;
}

.logo img{
    width : 100px;
    cursor: pointer;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #5aa3f7;
    transition: all 0.3s ease;
}
.nav ul li span a {
    background-color: rgb(114, 186, 245);
    color: white;
    padding: 5px 7px;
    border-radius: 7px;
}
.nav ul li a:hover{
    color: white;
    background-color: rgb(114, 186, 245);
    padding: 5px 7px;
    border-radius: 7px;
    
}
.btn{
    display: flex;
    align-items: center;
}
.btn button{
    padding: 9px 25px;
    border-radius: 10px;
    background-color: #c0d8f7;
    border: none;
    font-size: 15px;
    transition: all 0.3s ease;
}
.btn button:hover{
    color: white;
    background-color: rgb(114, 186, 245);
}

/* ############################# Pour la Page index  ###############################*/
.conteneur{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: linear-gradient(rgba(245, 246, 250, 0.603), rgba(73, 146, 153, 0.5));   
}

.cont1{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont1 h2, .cont1 h2 span{
    margin-bottom: 20px;
    color: #5aa3f7;
    font-size: 50px;
}

.cont1 p{
    text-align: center;
    font-size: 20px;
}
.cont1 button{
    margin-top: 20px;
    padding: 13px 20px;
    background-color: #b8d4f3;
    border: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.cont1 button:hover{
    background-color: #3770bb;
    color: white;
    cursor: pointer;
}

.image{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.image img{
    height: 400px;
    width: 22%;
    border-radius: 10px;
}
/* ########################################################################*/

/*#################### Pour la Page bien ####################*/
.container{
    background-image: url(../img/bck2.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items : center;
    padding: 6% 40px;
    
}
.pre_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pre_cont h1{
    font-size: 55px;
    color: #eef3fa;
}
.pre_cont p{
    padding: 7px;
    font-size: 25px;
}
.grid{
    margin-top: 40px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}.grid h2{
    width: 10%;
    text-align: center;
}

.grid1{
    width : 30%;
    background-color: rgb(227 239 246);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 25px 12px rgba(0,0,0,0.1);
}

.grid1 img{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.grid h3{
    color: #00367c;
    padding: 20px;
    text-align: center;
}
.grid{
    text-align: justify;
}
.grid button{
    margin-top: 20px;
    padding: 9px 10px;
    background-color: #5aa3f7;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.grid button:hover{
    color: black;
    background-color: #c0d8f7;
    cursor: pointer;
}
.prem{
    color: #5aa3f7;
    font-weight: 800;
}
/* ########################################################################*/

/* ############################ Page VENDRE ###############*/
.containerVen{
    background-color: #d7e8fc;
    background-size: cover;
    width: 100%;
    padding: 8% 5%;
    display: flex;
    justify-content: space-between;
}
.containerVen1{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerVen1 h1 span{
    color: #5aa3f7;
}
    .containerVen1 img{
        border-radius: 30px;
        
    }

.aside{
    width: 45%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside .p1{
    color: #032f63;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 900;
}
.listdoc li{
    font-size: 21px;
    padding: 7px;
}
.aside .p2{
    margin-top: 20px;
    color: #032f63;
    font-size: 15px;
    font-style: italic;
}
.aside button{
    margin-top: 20px;
    padding: 9px 15px;
    background-color: #5aa3f7;
    border: none;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.aside button:hover{
    background-color: #2971c4;
    cursor: pointer;
}

/* ########################################################################*/

/* #####################################PAGE CONTACT ############################*/
.containerCon{
    background-color: #ededfa;
    width: 100%;
    padding: 7% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerCon1{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.containerCon1 h1 {
    color: #5aa3f7;
    
}
.sc {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
}
.sc img{
    width: 30%;
    border-radius: 20px;
    box-shadow: 15px 25px 20px rgb(172, 210, 233);
}
.sc p{
    width: 60%;
    font-size: 20px;
    
}
.bottom{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.bottom h1{
    
    color: #5aa3f7;
    text-align: center;
}
.bottom p{
    
    padding: 20px;
    font-size: 18px ;
}
.bottom .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.bottom .form .mod{
    width: 70%;
    padding: 15px 20px;
    background-color: #e0e9ee;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.bottom .form textarea{
    width: 70%;
    border: none;
    background-color: #dde4ee;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 14px;

}
.bottom .form ::placeholder{
    color: rgb(139, 142, 146);
    font-style: italic;
}

.bottom .form .val{
    width: 15%;
    padding: 9px 15px;
    border: none;
    background-color: #4d74a8;
    color: white;
    font-weight: 600;
    border-radius: 35px;
    transition: all 0.3s ease;
}
.bottom .form .val:hover{
    background-color: #02285a;
    cursor: pointer;
}
/* #####################################*/

.pied{
    display: flex;
    justify-content : space-between;
    align-items : center;
    background-color: rgb(118 161 178);
    padding: 7px 10%;
}
.pied p{
    color : #c6e1ee;
}
/*Responsive*/

@media screen and (max-width : 768px) {
    /*Ecran de smpartphone : largeur max 168px  */
    /* Page d'accueil*/
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
    }
    .nav ul{
        display: flex;
        flex-direction: column;
    }

    .cont1 h2 {
        text-align: center;
    }
    .image{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .image img{
        height: 200px;
        width: 50%;
    }
    /* #########################*/

    /* Page des biens*/
    .pre_cont h1,p{
        text-align: center;
    }
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid h2{
        width: 50%;
    }
    .grid1{
        width: 80%;
    }
    /* ########################*/
    
    /* Page Comment vendre*/
    .containerVen{
        display: flex;
        flex-direction: column;
        
    }
    .containerVen1{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .containerVen1 img{
        height: 300px;
        width : 80%;
    }
    .aside{
        display: flex;
        width: 100%;
        padding: 0px 15px;
    }
    
    /* #######################*/
    /* Page Comment vendre*/

        .containerCon{
            padding : 20px 0;
        width : 100%;
    }
  
    .sc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .sc img{
        height: 200px;
        width: 50%;
    }
    .sc p{
        width : 90%;
        text-align : justify;
    }
    .bottom .form .val{
        padding : 8px;
    }
    /* ########################*/
    
    .pied{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
} 

@media screen and (min-width : 1024px) and (max-width:1439px){
    /* Page index*/
    .image{
        width: 95%;
    }
    .image img{
        width: 50%;
        height: 300px;
        width: 23%;
    }
    .grid h2{
        width: 15%;
    }
    .sc img{
        height: 400px;
        width: 35%;
    }
}
/*Samuel Lobela Elongi*/